.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 100%;

  p {
    margin-top: 0.175rem;
    font-size: 1.125rem;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    line-height: initial;
  }

  a {
    display: block;
    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--gray-600);
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300);
    }
    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }
    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover {
      color: var(--highligh);
    }
  }
}
.content {
  display: flex;
  align-content: center;
  vertical-align: bottom;
  margin-top: 0.825rem;
  p {
    font-size: 1rem;
  }
  h4 {
    margin-left: 0.25rem;
  }
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.icon {
  vertical-align: text-bottom;
  width: 1.25rem;
  height: 1.25rem;
}
.buttonContent {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // max-width: 1100px;
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--highligh);
    font-weight: bold;
    font-size: 1.25rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
